   <div class="container mt-3">
    <div class="card shadow-lg border-0">
      <div class="card-header text-center fw-bold gradient-header">
        Las Cotorras que chatean
        <span class="d-block fs-6">chismosas conectadas 👥:{{ clientesConectados }}</span>
      </div>
  
      <div class="card-body bg-light-subtle" style="min-height: 300px;">
        @for (msg of mensajes; track msg) {
          <div class="p-3 mb-3 rounded chat-bubble"
           [class.info]="msg.type === 'info'"
           [class.owner]="msg.socketId===socket.id"
            >
            <div class="fw-bold text-purple">{{ msg.username }}</div>
            <div>{{ msg.message }}</div>
          </div>
        }
      </div>
  
      <div class="card-footer ">
        <form [formGroup]="chatForm" (ngSubmit)="onSubmit()" class="d-grid gap-2">
          <input type="text" class="form-control" formControlName="username" placeholder="Nombre" />
          <input type="text" class="form-control" formControlName="message" placeholder="Mensaje" />
          <button type="submit" class="btn btn-gradient fw-semibold">Enviar</button>
        </form>
      </div>
    </div>
  </div>
  